@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
/* Universal Selector */
* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}
/* Start of body styles */
body {
  width: 100%;
}
/* header styles */
.header-container {
  padding-left: 240px;
  padding-right: 240px;
  background: rgba(229, 84, 115, 0.1);
  height: 850px;
  display: flex;
  gap: 97px;
}
.half-header-left {
  padding-top: 197px;
  width: 50%;
}
.half-header-left-title {
  color: #272727;
  font-size: 80px;
  font-weight: 800;
}
.half-header-left-paragraph {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 32px;
  margin-bottom: 32px;
}
.header-btn {
  border-radius: 8px;
  background: #e55473;
  padding: 20px 43px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  border: 2px solid #e55473;
}
.header-btn:hover {
  color: #e55473;
  background: #fff;
}
.half-header-right {
  width: 50%;
  padding-top: 50px;
}
/* end of header styles */
/* main styles */
main {
  background: #f9f9fc;
  padding-bottom: 128px;
  width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

.first-section-container {
  padding-top: 178px;
  padding-left: 240px;
  padding-right: 240px;
}
.first-section-title {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  line-height: normal;
}
.first-section-paragraph {
  margin-top: 24px;
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.first-section-images {
  display: flex;
  padding-top: 48px;
  gap: 24px;
}

.first-section-images > .images {
  border-radius: 300px 300px 0px 0px;
  background: rgba(229, 84, 115, 0.1);
  width: 464px;
  height: 538px;
  display: flex;
  justify-content: center;
  align-items: end;
}

#first-flower {
  background: rgba(167, 33, 98, 0.15);
}

#second-flower {
  background: rgba(5, 151, 160, 0.15);
}

#third-flower {
  background: rgba(71, 125, 17, 0.15);
}

.first-section-links {
  padding-top: 32px;
  display: flex;
  justify-content: space-around;
}
.first-section-links > .links > a {
  color: #272727;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
}
.second-section-container {
  padding-top: 128px;
  padding-left: 240px;
  padding-right: 240px;
}

.second-section-review {
  display: flex;
  padding-top: 48px;
  gap: 24px;
}

.second-section-review > .review-cards {
  border: 150px 150px 0px 0px;
  background: rgba(1, 24, 26, 0.144);
  /* background: rgba(39, 39, 39, 0.05); */
  background: rgba(192, 1, 255, 0.096);
  width: 464px;
  height: 220px;
  border-radius: 8px;
  /* box-shadow: 2px 2px 6px 6px rgba(128, 128, 128, 0.233); */
  box-shadow: 2px 2px 6px 6px rgba(255, 0, 247, 0.089);
}
.second-section-paragraph {
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.third-section-container {
  margin-top: 128px;
  padding-left: 423px;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  display: flex;
  height: 620px;
}
.third-section-left {
  width: 50%;
  padding-top: 230px;
}
.third-section-btn {
  padding-top: 32px;
  text-align: center;
}
.third-section-right {
  padding-top: 100px;
  padding-bottom: 100px;
  width: 50%;
  display: flex;
  align-items: center;
  padding-left: 200px;
}
.fourth-section-container {
  padding-top: 128px;
  padding-left: 240px;
  padding-right: 240px;
}
.fourth-section-images {
  padding-top: 48px;
  display: flex;
  gap: 25px;
}
.fourth-section-images > .images > img {
  height: 396px;
}
.five-section-container {
  padding-top: 128px;
  padding-left: 240px;
  padding-right: 240px;
}
.fifth-section-background {
  background-image: url("./Rectangle\ 9.png");
  border-radius: 8px;
  width: 1440px;
  height: 327px;
  padding-top: 122px;
}
.fifth-section-input {
  display: flex;
  margin-top: 25px;
  margin-left: 287px;
  gap: 16px;
}
.fifth-section-input > .input > input {
  width: 700px;
  border-radius: 8px;
  background: #fff;
  border: 0px solid white;
  padding: 23px;
  font-size: 16px;
  outline: white;
}
.fifth-section-input > .input > input::placeholder {
  color: rgba(39, 39, 39, 0.6);
  font-weight: 400;
  line-height: normal;
}
/* end of main */

/* footer section */
footer {
  background: #111010;
  height: 449px;
}
.footer-element-container {
  padding-top: 128px;
}
.footer-title {
  color: #e55473;
  font-size: 60px;
  font-weight: 800;
  text-align: center;
}

#footer-paragraph {
  color: rgba(255, 255, 255, 0.9);
}

.footer-address {
  margin-top: 32px;
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
/* end of footer */
/* end of main */
